body{
    background-color:#3b3b98 ;
    color: white;
    height: 100vh;
display:flex;
justify-content: center;
align-items: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    text-align: center;
}
.container{
    width:300px;
    height:350px;
    background-color:#add8e6;
display:flex;
padding: 10px;
border-radius: 10px;

flex-direction: column;

}
.outputfield{
    width:300px;
    height:50px;
    background-color:rgba(0, 0, 0, 0.4);
display: flex;
justify-items: center;
align-items: center;
}

.flipboard{
    width:40px;
    height:40px;
    background-color: #3b3b98;
    display: flex;
    justify-content: center;
    align-items: center;
margin-left:auto;
margin-right: 10px;
cursor: pointer;
}

.setting{
    display:flex;
    justify-content: space-between;
align-items: center;
margin: 15px 0;

}

#passowordGen{
    background-color: #3b3b98;
    color:white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}